{% extends 'base.html' %}
{% load dajaxice_templatetags %}

{% block title %}清华大学勤工大队签到系统{% endblock %}


{% block content %}
    <div id="help">
        <ul>
            <li><a href="/register/" style = "color: white;">注册</a></li>
            <li><a href="/index/" style = "color: white;">登录</a></li>
        </ul>
    </div>
    <div id="header"></div>
    <div id="banner"><span class="banner_text">密码找回</span></div>
    <div id="findpassword_window">
    <div id="open_window3"><!--用户密码找回弹出窗口-->
        <div class="window_title">密码找回</div>
        <div class="close_logo"><a href = "/index/">X</a></div>
        <div id="window_content3">
            <form name="findpasswordForm" method="post" action="" id="findpasswordForm">
                {% csrf_token %}
                <ul class="reg_ul">
                    <li>
                        <p class="reg_ul_p1">学　　号</p>
                        <p class="reg_ul_p2">
                            <input type="text" name="id" maxlength="10" value="" id="id" class="text-input">
                        </p>
                        <p class="reg_ul_p3">*请输入您的学号</p>
                    </li>
                    <li>
                        <p class="reg_ul_p1">电子邮箱</p>
                        <p class="reg_ul_p2">
                            <input type="text" name="email" maxlength="30" value="" id="email" class="text-input">
                        </p>
                        <p class="reg_ul_p3">*请输入您的注册邮箱</p>
                    </li>
                </ul>
            </form>
        </div>
        <div id="findpw_button">
            <input name="findpw_button" type="submit" class="reg_button1" value="提交"  onclick="findPassword()"/>
        </div>
    </div>
    <div id="open_window4"><!--用户密码找回完成弹出窗口-->
        <div class="window_title">密码找回</div>
        <div class="close_logo"><a href = "/index/">X</a></div>
        <div id="window_content4">
            <p class="reg_ok">相关邮件已经发送至您的邮箱，请注意查收！</p>
        </div>
     </div>
    </div>

    <div id="footer1">
        <ul>
            <li>勤工助学大队邮箱: qgzhx@mail.tsinghua.edu.cn </li>
            <li>勤工助学大队值班电话: 010-62783693</li>
            <li>技术支持: 清华大学信息系统服务部</li>
        </ul>
    </div>

{% endblock %}